
body {
  display:block;
  /* background-color: #e1e1e0; */
  background-color: #fff;
}

div {display:block;}

/** header */
#hwc_header {
  padding:10px;
  background-color:#333333; color:#fff;
}

#hwc_header a:link {color:#fff;}
#hwc_header a:hover {color:#d54e21;}
#hwc_body {margin:0;padding:0;}

/** Layout:#1 */
#hwc_layout_sidebar {
  position: absolute;
  margin: 0px 0px 0px 5px;
  clear: left;
  float: left;
  width: 220px;
}
#hwc_layout_body {
  margin: 0px 10px 0px 240px;
}


.logo_title {float:left; font-size:16px; font-weight:bold;}
.menu_nav {margin:0 0 0 200px;}
.menu_nav span {
  padding:1px; margin-right:5px;
}
.menu_nav span a {
  padding:2px 6px;
  font-size:15px; line-height:100%;
  color:#fff; text-decoration:none;  
  -moz-border-radius:3px;
  -khtml-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}
.menu_nav span a:hover {color:#fff; background:#707579;}
.menu_nav span a:active {color:#fff;}
.menu_nav span a.current {color:#fff; background:#000;}

#hwc_creator_content {
  margin:0 0 0 210px;
  position: relative;
}

#hwc_creator_content table,tr,td {
  margin:0; padding:0;
}

#hwc_creator_content ul {margin:0;}

#hwc_creator_workspace {
  min-width: 1000px; min-height:500px; 
  width: 100%; height:100%;
}
#hwc_creator_workspace_editor {
  background-color: #fff;
  width:500px;
}
#hwc_creator_workspace_preview {
  background-color: #fff;
}
#hwc_creator_workspace_preview iframe {
  width:100%; height:100%; border: 1px solid #ccc;
}

.hwc_layout_tabs {width:100%; min-height:20px; font-size:14px; padding:5px 10px 5px 0;}
.hwc_layout_tabs a {text-decoration:none;}
.hwc_layout_tabs ul {list-style:none; margin:0; padding:0;}
.hwc_layout_tabs ul li {float:left; margin-right:20px;}
.hwc_layout_tabs .close {font-size:16px;}
.hwc_layout_tabs .current a {color:#d54e21;}

.CodeMirror {
  font-size:13px;
  border: 1px solid #ccc;
  background-color: #fdfdfd; 
  height:90%;
  line-height: 120%;
}

.CodeMirror-scroll {
  min-width:600px; max-width:900px;
  min-height:500px;
  height:auto;
}

.activeline {background: #f0fcff !important;}

/** ### **/
.editlet {
  text-align:left; margin:20px 0px; padding:10px 20px; min-width:600px;
  border:#989898 2px solid;
  -moz-border-radius:3px;
  -khtml-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;  
}
.editlet .titletab {padding:0 10px 0 10px; font-size:20px; font-weight:bold;}
.editlet td {padding:0;}

/*** ### ***/
.sidebar_appinfo {
  border:2px solid #ebba95; background:#feffe5; color:#c98657;
  margin-top:5px; padding:0px 3px;
  -moz-border-radius:3px;
  -khtml-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;  
}
.sidebar_apppathnav {
  margin:3px 0px 3px 0px; border-bottom:1px solid #ebba95; color:#c98657;
}
.sidebar_apppathnav a {
  color:#c98657;
}
